# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
*.egg
dist/
build/

# IDEs and Editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.cache/
*.cover
*.py,cover
nosetests.xml
coverage.xml
*.coveragerc

# Logs
*.log

# Environment Variables
.env
.env.local
.env.*.local

# Miscellaneous
.DS_Store
Thumbs.db
*.swp
*.swo
*.bak

# Temporary files
tmp/
temp/
